@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

:root {
    --green-100: #e5f4e5;
    --green-300: #0c7b1e;
    --green-500: #044d10;
    --green-700: #032c09;
    --orange: #ffa500;
    --transparent-white: #eef8ee;
    --heading: "Playfair Display", serif;
    --paragraph: "Montserrat", sans-serif;
} 
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--paragraph);
    font-size: 1rem;
    background-color: var(--green-100);
    color: var(--green-300);
}

a {
    color: inherit !important;   
}
li {
    list-style: none;
}
/* ------------------------------------------ */
.promo {
    background-color: var(--green-700);
}
.promo p span {
    color: orange;
    font-weight: bold;
}
/* ------------------------------------------------- */
.logo-navbar .logo {
    object-fit: contain;
    height: 30px;
}
.logo-navbar .user-icon {
    height: 40px;
}
.logo-navbar .search {
    width: 650px;
    border-radius: 10rem;
    border: 0.5px var(--green-300) solid;
    font: inherit;
}
::placeholder {
    color: var(--green-500)!important;
    font-size: 0.8rem;
}
/* ------------------------------------------------- */
nav.main-navbar {
    background-color: var(--transparent-white);
}

nav.main-navbar a:hover {
    background-color: var(--green-700);
   
    color: white !important;
}
/* ------------------------------------------------------ */
.hero-section {
    background-color: var(--green-500);
    /* border-radius: 1rem; */
}
.hero-section .hero-texts .heading {
    font-family: var(--heading);
    font-size: 3rem;
}
.hero-section .hero-texts span {
    color: var(--orange);
}
.hero-section .hero-texts a {
    background-color: var(--orange);
}
.hero-section .hero-texts a:hover {
    background-color: white;
    color: var(--orange) !important;
}
 
.hero-section img {
    border-radius: 0 1rem 1rem 0;   
}

.cart-main {
    background-color: var(--green-700);
}
.cart-main ul li a {
    border-radius: 2rem;
}

.cart-main ul li a:hover {
    background-color: var(--orange) !important;
    border: none;
}
.cart-main {
    height: auto !important;
}
.cart-main .card {
    height: 250px;
    border-radius: 1rem;
}

.cart-main .card img {
    object-fit: contain;
}

.cart-main .card .card-body button {
    background-color: var(--orange);
    border-radius: 0.7rem;
    font-size: 1.5rem;
}

form .checkout {
    background-color: var(--orange);
}

form .checkout:hover,
.cart-main .card .card-body button:hover {
    background-color: white;
}

form .checkout a:hover,
.cart-main .card .card-body button:hover {
    color: var(--orange) !important;
}

.cart-main .row {
    margin-bottom: 7rem;
}

.cart-main #tubers img {
    border-radius: 0.7rem;
    object-fit: cover;
    width: 100%;
}


footer {
    background-color: var(--green-700);
}

.form-check-input:checked {
    background-color: var(--orange);
    border-color: var(--orange);
}

@media (max-width: 1200px) {
    body {
        display: none;  
    }
}

