@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

:root {
    --green-100: #e5f4e5;
    --green-300: #0c7b1e;
    --green-500: #044d10;
    --green-700: #032c09;
    --orange: #ffa500;
    --white: white;
    --transparent-white: #eef8ee;
    --heading: "Playfair Display", serif;
    --paragraph: "Montserrat", sans-serif;
} 

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--paragraph);
    font-size: 1rem;
    background-color: var(--green-100);
    color: var(--green-300);
}

a {
    color: inherit !important;   
}
li {
    list-style: none;
}

::placeholder {
    color: var(--green-500)!important;
    font-size: 0.8rem;
}

nav .navbar-nav a:hover,
button.sign-up:hover,
button.login:hover {
    background-color: var(--green-700);
    color: var(--white) !important;
}

.hero-section {
    background-color: var(--green-500);
    /* border-radius: 1rem; */
}
.hero-section .hero-texts .heading {
    font-family: var(--heading);
    font-size: 3rem;
}

.cart-main ul li a:hover {
    background-color: var(--orange) !important;
    border: none;
}

.payment-channel .form-check-input:checked {
    background-color: var(--orange);
    border-color: var(--orange);
}

.hero-section .hero-texts a:hover,
.shop button:hover,
.payment-channel a:hover {
    background-color: var(--white) !important;
    color: var(--orange) !important;
}

.shop form a:hover {
    background-color: var(--orange) !important;   
}

/* @media (max-width: 1200px) {
    body {
        display: none;  
    }
} */

